<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @project.body %>
</p>

<p>
  <strong>Location:</strong>
  <%= @project.location %>
</p>

<p>
  <strong>Image link:</strong>
  <%= @project.image_link %>
</p>

<p>
  <strong>Project url:</strong>
  <%= @project.project_url %>
</p>

<p>
  <strong>Year:</strong>
  <%= @project.year %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @project.likes %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
